@import "tailwindcss";

@theme{
  --color-grayBg:#2a2c2e;
  --color-yellow:#f4ce47;
  --color-blackC:#1a1b1d;
  --color-whiteBg:#f6f4f0;
  --color-greyText:#bcbcbc;

/* 320 */
  --breakpoint-2xs:20rem; 
  /* 424 */
  --breakpoint-xs:26.5rem;
  /* 640 */
  --breakpoint-sm:40rem;
  /* 768 */
  --breakpoint-md:48rem;
  /* 1024 */
  --breakpoint-lg:64rem;
  /* 1280 */
  --breakpoint-xl:80rem;
  /* 1440 */
  --breakpoint-2xl:90rem;
  /* --breakpoint-:40rem; */

}