@import "tailwindcss";

@theme{
  --color-grayBg:#2a2c2e;
  --color-yellow:#f4ce47;
  --color-blackC:#1a1b1d;
  --color-whiteBg:#f6f4f0;
  --color-greyText:#bcbcbc;
  --color-darkGrey:#20201F;


  /* 480 */
  --breakpoint-xs:26.56rem;

}
.heroHeading{
    font-size: calc(min(94px, 18px + (75 - 18) * ((100vw - 320px) / (1440 - 320))));
}